<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mood Tracker</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script defer src="assets/script.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/styles.css">
</head>
<body>

    <div class="login-container">
        <button id="account-btn" class="btn">Account Login</button>
        <div id="login-form" class="hide">
            <form action="/loggedin" method="POST" class="login-form"> 
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="button" value="Login" class="login-btn btn">Login</button>
                <button type="button" value="Cancel" id="cancel-btn" class="login-btn btn">Cancel</button>
                <p>Don't have an account?</p>
                <button type="button" value="new-account" id="new-account-btn" class="btn">Create A New Account</button>
            </form>
            
        </div>
    </div>

    <div class="menu">
        <div id="joke-container" class="joke-container hide">
            <div id="joke"></div>
            <div class="fav-joke">
                <label for="fav-joke">Favorite?</label>
                <input type="checkbox" id="fav-joke">
            </div>
            <button id="fav-joke-btn">View Favorited Jokes</button>
            
        </div>

        <div id="mainmenu" class="container">
            <div class="title"><h1>Mood Tracker</h1></div>
            
            <button id="entry-btn" class="menu-btn btn">Create New Entry</button>
            <button id="view-btn" class="menu-btn btn">View Previous Entries</button>
            <button id="joke-btn" class="menu-btn btn">Give me a joke!</button>

            <!-- Create Entry Page --> 
            <fieldset class="hide"> 
                <legend>Create Entry</legend>
                <form action="/show" method="POST">
                    <div class="entryItem">
                        <label for="date">Select today's date:</label>
                        <input type="date" name="date">
                    </div>

                    <div id="moodScale" class="entryItem">
                        <label for="mood">Rate your happiness:</label>
                        <strong>1</strong>
                        <input type="radio" name="mood" value="1" id="mood">
                        <input type="radio" name="mood" value="2">
                        <input type="radio" name="mood" value="3">
                        <input type="radio" name="mood" value="4">
                        <input type="radio" name="mood" value="5">
                        <input type="radio" name="mood" value="6">
                        <input type="radio" name="mood" value="7">
                        <input type="radio" name="mood" value="8">
                        <input type="radio" name="mood" value="9">
                        <input type="radio" name="mood" value="10">
                        <strong>10</strong>
                    </div>

                    <div class="textBox">
                        <label for="rating">Go into detail about the rating you gave: </label>
                        <br>
                        <textarea name="rating" rows=4 cols=60></textarea>
                    </div>

                    <div class="textBox">
                        <label for="happyEntry">Share at least one thing that made you happy today: </label>
                        <br>
                        <textarea name="happyEntry" rows=4 cols=60 required></textarea>
                    </div>

                    <input type="submit" value="Add Entry" id="submit-btn" class="entry-btn btn">
                    <button type="button" value="Back" id="back-btn" class="entry-btn btn">Go Back</button>
                </form>
            </fieldset>
        </div>

        <!-- <div id="new-account" class="container hide">
            <div class="title"><h1>New Account</h1></div>
            <form class="account-form">
                <label>First Name</label>
                <input type="text" placeholder="Enter First Name" name="firstname" required>

                <label>Last Name</label>
                <input type="text" placeholder="Enter Last Name" name="lastname" required>

                <label>Username</label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label>Password</label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <input type="submit" value="Create Account" class="login-btn btn">
            </form>
        </div> -->
    </div>
</body>
</html>